<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('about.png') %>')">
  <h1 class="FAQs">FAQs</h1>
</div>






<div class="drop-menu-wrap">
<div class="drop-menu-card">

  <div class="faq-question">
    <nav class="footer_menu">

      <nav class="drop-down-menu">
        <input type="checkbox" class="activate" id="accordion-1" name="accordion-1">
        <label for="accordion-1" class="menu-title">What is PetPulse?</label>
        <i class="fa-solid fa-angle-down"></i>

        <div class="drop-down">
          <p>
            PetPulse is an innovative platform designed to streamline pet healthcare by providing pet owners with easy access to their pet's medical records, vaccination history, and upcoming appointments, all in one convenient location.
          </p>
        </div>
      </nav>

    </nav>
  </div>

  <div class="faq-question">
    <nav class="footer_menu">

      <nav class="drop-down-menu">
        <input type="checkbox" class="activate" id="accordion-2" name="accordion-2">
        <label for="accordion-2" class="menu-title">How does PetPulse work?</label>
        <i class="fa-solid fa-angle-down"></i> <i class="fa-solid fa-angle-down"></i> <i class="fa-solid fa-angle-down"></i>

        <div class="drop-down">
          <p>
            PetPulse simplifies pet healthcare by eliminating the need for paper records and multiple files. With PetPulse, pet owners can easily manage their pet's health information, stay up-to-date on vaccinations, and never miss an appointment.
          </p>
        </div>
      </nav>

    </nav>
  </div>

  <div class="faq-question">
    <nav class="footer_menu">

      <nav class="drop-down-menu">
        <input type="checkbox" class="activate" id="accordion-3" name="accordion-3">
        <label for="accordion-3" class="menu-title">Is PetPulse secure?</label>
         <i class="fa-solid fa-angle-down"></i> <i class="fa-solid fa-angle-down"></i>

        <div class="drop-down">
          <p>
            Yes, PetPulse takes the security and privacy of your pet's information seriously. We use advanced encryption and security measures to ensure that your pet's medical records are protected at all times.
          </p>
        </div>
      </nav>

    </nav>
  </div>

  <div class="faq-question">
    <nav class="footer_menu">

      <nav class="drop-down-menu">
        <input type="checkbox" class="activate" id="accordion-4" name="accordion-4">
        <label for="accordion-4" class="menu-title">Can multiple pets be managed on PetPulse?</label>
         <i class="fa-solid fa-angle-down"></i>

        <div class="drop-down">
          <p>
            Absolutely! PetPulse allows you to manage multiple pets on a single account, making it easy to keep track of all your furry friends' healthcare needs in one place.
          </p>
        </div>
      </nav>

    </nav>
  </div>

</div>


</div>
