<div class="calendar-container">
<%= month_calendar(events:@bookings) do |date, bookings| %>
  <%= date.day %>
  <% bookings.each do |booking| %>
    <div class="calender-description">
      <%= link_to booking.description, booking_path(booking) %>
    </div>
  <% end %>

<% end %>
</div>
