    <!--Footer-->
<div class="footer">
      <div class="footer-copyright">
        <%= link_to"About Us ", about_path %>
         <%= link_to"| Services |", root_path %>
          <%= link_to"FAQ ", faq_path %>
          <%= link_to"| Contact Us" %>
      </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
      <div class="footer-copyright">
        <p>© 2024 PetPulse, Inc.</p>
      </div>
</div>
