<!-- Record Info -->
<h3><%= @record.title %></h3>
<hr>
<%= @record.content %>



<!-- Link to go back to records -->
<%= link_to 'Go Back to All Records', pet_records_path, class: "btn btn-primary" %>
