<div class="banner" style= "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('banner.gif') %>')">
  <div class="container-hm-pg">
    <h1>Your Pet's Home Away from Home</h1>
    <p>Trustworthy Pet Sitting Services Tailored Just for You</p>
  </div>
</div>

<div class="cards">
  <!-- PetPal Card - directs to PetPal Website -->
  <%= link_to "https://airbnb-mai-wandk-ad13d1bba021.herokuapp.com/" do %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1494947665470-20322015e3a8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            PetPal
    </div>
  <% end %>
  <!-- End of PetPal Card>

  <!-- HealthHub Card - directs to Dashboard -->
  <%= link_to dashboard_path do %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1507146426996-ef05306b995a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
      HealthHub
    </div>
  <% end %>
  <!-- End of HealthHub Card -->
</div>
