// .btn-primary {
//   background-color: $white;
//   border: 2px solid $pp-teal;
//   color: $pp-teal;
//   border-radius: 6px;
//   &:hover{
//     background-color: $pp-teal;
//     color: $white;
//     border: none;
//   }
// }

.btn-primary {
  background-color: $white;
  border: 2px solid $pp-teal !important;
  color: $pp-teal;
  border-radius: 6px;

  &:hover{
    border: 2px solid $pp-teal !important;
    background-color: $pp-teal;
    color: $white;
    border: none;
  }

  &:active {
    background-color: $pp-teal !important;
    color: $white;
  }
}

.btn-primary-reverse {
  background-color: $pp-teal;
  border: 2px solid $pp-teal !important;
  color: $white;
  border: none;
  border-radius: 6px;

  &:hover{
    background-color: $white;
    color: $pp-teal;
    border: 2px solid $pp-teal;
  }
}


.btn-secondary {
  background-color: $pp-teal;
  border: 2px solid $pp-teal !important;
  color: white;
  border-radius: 6px;
  border: none;
  font-size: bold;

  &:hover {
    background-color: white;
    color: $pp-teal;
  }
}

.btn-secondary-reverse {
  background-color: $white;
  border: 2px solid $pp-teal !important;
  color: $pp-teal;
  border-radius: 6px;

  &:hover{
    background-color: $pp-teal !important;
    color: $white;
    border: none;
  }
}

.large-button {
  background-color: $pp-teal !important;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 18px auto;
  align-items: center;
  font-family: 'Sniglet';

  &:hover {
    background-color: darken($pp-teal, 10%) !important;
  }
}

.btn-success {
  background-color: $pp-teal;
  color: white;
  font-family: 'Sniglet';
  border-radius: 16px;

  &:hover {
    background-color: darken($pp-teal, 10%) !important;
    color: white;
  }
}

.dashboard-calendar-btn {
  margin-left: 1265px;
}

.dashboard-btn {
  margin-left: 1148px;
  margin-top: -39px;
}
