.btn-primary {
  background-color: $white;
  border: 2px solid $pp-teal;
  color: $pp-teal;
  border-radius: 6px;
  &:hover{
    background-color: $pp-teal;
    color: $white;
    border: none;
  }
}

.btn-secondary {
  background-color: $pp-teal;
  color: white;
  border-radius: 6px;
  border: none;
}

.btn {

}

.large-button {
  background-color: $pp-teal;
  border-radius: 30px;
  padding: 10px 20px;
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin: 18px auto;
  align-items: center;
  font-family: 'Sniglet';

  &:hover {
    background-color: darken($pp-teal, 10%);
  }
}

.btn-success {
  background-color: $pp-teal;
  color: white;
  font-family: 'Sniglet';
  border-radius: 16px;

  &:hover {
    background-color: darken($pp-teal, 10%);
    color: white;
  }
}

.link_to-pet-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: -137px;
  margin-left: 270px;
}
