
.content-chat {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  padding: 0 10px;
  overflow: scroll;
}

.all-messages {
  height: 300px;
  overflow-y: scroll;
}

.message {
  background-color: #0A9E8F;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  width: fit-content;

  p {
    margin: 0;
  }
}

#vet-message {
  /* need to set the vet-message to the right */
}

#message_content {
  width: 650px;
}

