
.content-chat {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  padding: 0 10px;
  overflow: scroll;
}

.all-messages {
  height: 300px;
  overflow-y: scroll;
  display: flex!important;
  flex-direction: column;
}

#owner-message {
  background-color: #0A9E8F;
  color: white;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  width: 45%;
  align-self: flex-end;

  p {
    margin: 0;
    color: white;
  }
}

#vet-message {
  float: right;
  clear: right;
  width: 45%;
  background-color: $pp-light-teal;
  color: $pp-teal;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;

  p {
    margin: 0;
    color: $pp-teal;
  }
}

#message_content {
  width: 650px;
}

.chatroom-header{
  display: flex;
  align-items: center;
}
