.main-dashboard-section {
  display: flex;
  justify-content: space-between;
}

.dashboard-calendar,
.card-dashboard-container {
  width: 40%;
  box-sizing: border-box;
}

.dashboard-title {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.chat-img {
  margin-right: 50px;
  &:hover {
    transform: scale(1.05);
  }
}

.notification-icon{
  position: absolute;
    top: 16px;
    right: 60px;
}
