.main-dashboard-section {
  display: flex;
  justify-content: space-between;
}

.dashboard-calendar,
.card-dashboard-container {
  width: 33%;
  box-sizing: border-box;
}

.dashboard-title {
  margin-left: 40px;
  margin-bottom: 20px;
  margin-top: 40px;
}
