.big-records-card {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  max-height: 500px;
  overflow: hidden;
  align-items: center;
}

#records {
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 5px;
}

.records-btn a {
  width: fit-content;
  margin-top: 5px;
}

.search-bar-records {
  width: 100%;
}

.records-title-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.record-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}

.medical-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  .btn {
    margin-right: 5px;
  }
}
