.big-records-card {
  width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 30px auto 20px auto;
  padding: 10px ;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  // align-items: center;
}

.all-records {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#records {
  width: 90%;
  margin-bottom: 10px;
}

.records-btn a {
  width: fit-content;
  margin-top: 5px;
}

.search-bar-records {
  width: 100%;
}

.records-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 5px;
}

.record-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
}

.medical-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  .btn {
    margin-left: 5px;
  }
}

.record-card {
  margin-bottom: 30px!important;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.record-title-section {
  padding-left: 100px;
}
